.list {
  width: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  color: black;
}
.item {
  display: flex;
  justify-content: space-between;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
.item:hover,
.item:focus {
  color: blue;
}
.button {
  padding: 2px 10px;
  color: black;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 14px;
}
.item:hover .button,
.item:focus .button {
  border: 1px solid blue;
  color: blue;
}
